.yellow{
  background-color: yellow;
  color: pink;

}

.bold{
  font-weight: bold;
}

#overskrift {
  font-weight: bold;
  color: blue;
  text-align: center;

}


#content {
  border: 2px solid cornflowerblue;
  margin-left: 30%;
  width: 40%;
  padding: 20px;
}

/* kommantar */
img{
  width: 30%;
  display: block;

}
